.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 600px;
  padding: 8px;
  border: 1px solid black;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.addCntBtn {
  cursor: pointer;
  color: black;
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  max-width: 150px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  margin: 15px auto;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.addCntBtn:hover,
.addCntBtn:focus {
  border-color: black;
  outline: none;
}
